/* main */
@font-face {
    font-family: 'montserrat';
    src: url(/fonts/Montserrat-Regular.ttf);
}

body {
    margin:0;
    color: #ffffff;
    background-color: #131212;
    font-family: montserrat;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: white;
}

/* header */
header {
    overflow: hidden;
    margin-top: 20px;
    /* background-color: #1F1F1F;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.20));
    transition: 0.2s; */
}

.topnav {
    max-width: 1360px;
    margin: auto;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14.5px 16px;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
}

.topnav a:hover {
    border-image-slice: 1;
    transition: 0.2s;
    color: #0075FF;
}

.right {
    float: right;
    line-height: 40px;
}

.main-title {
    font-size: 64px;
    width: 700px;
}

.main-text {
    font-size: 14px;
    width: 500px;
}

.main-image {
    float: right;
    position: relative;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

@keyframes example {
    0%   {top:0px;}
    50%  {top:20px;}
    100% {top:0px;}
}

.main {
    width: 1330px;
    margin: 40px auto;
}

.buttons {
    display: inline-block;
    background-color: #0077ff;
    font-weight: 1000;
    color: #ffffff;
    padding: 10.5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
    right: 16px;
    bottom: 16px;
}

.buttons:hover {
    background-color: #2ba0ff;
    transition: 0.2s;
}

.land {
    width: 1000px;
    margin: 428px auto;
}

.land-header {
    font-size: 24px;
}

.fa-check-circle {
    color: #0077ff;
    transition: 0.2s;
}

.fa-check-circle:hover {
    color: #2ba0ff;
    transition: 0.2s;
}

#icon1 {
    position: absolute;
    right: 650px;
    top:-60px;
    animation-name: exampleit;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

#icon2 {
    position: absolute;
    right: 150px;
    top: 0px;
    animation-name: exampleitp;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}

/* @keyframes exampleit {
    0%   {top:0px;}
    50%  {top:20px;}
    100% {top:0px;}
}

@keyframes exampleitp {
    0%   {top:0px;}
    50%  {top:20px;}
    100% {top:0px;}
} */


.register-box {
    width: 1065px;
    height: 600px;
    margin: auto;
    background-color: #1D1D1D;
    margin-top: 40px;
}

.left-box {
    width: 500px;
    height: 600px;
    background-color: #0075FF;
}

.right-box {
    position: fixed;
    top: 23%;
    left: 52%;
}

.regh1 {
    font-size: 24px;
    font-weight: 1000;
}
.regh2 {
    color: #979797;
    width: 350px;
}

.piz {
	width: 300px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
    color: #979797;
	border: 1px solid #7C7C7C;
	background: #1D1D1D;
	/* border-radius: 5px; */
    margin-top: 10px;
    transition: 0.2s;
}

.piz:hover {
	border: 1px solid #2ba0ff;
    transition: 0.2s;
}

.dic {
  border-color: #0b76ef;
  background-color: #0b76ef;
}


.buttonss {
    display: inline-block;
    background-color: #0077ff;
    font-weight: 1000;
    color: #ffffff;
    padding: 10.5px;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s;
    right: 16px;
    bottom: 16px;
    text-align: center;
}

.buttonss:hover {
    background-color: #2ba0ff;
    transition: 0.2s;
}

.cheche  {
    color: #979797;
}

.prof-card {
    width: 1065px;
    background-color: #1D1D1D;
    height: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 40px;
    padding-left: 80px;
    
}

.profname {
    font-size: 24px;
width: 300px;
}

.profstat p {
    color: #979797;
    width: 450px;
}

.profinfo {
    position: relative;
    left: 200px;
    top: -130px;
}

.profsett {
    position: relative;
    left: 815px;
    top: -220px;
}

.orderbox {
    width: 1065px;
    background-color: #1D1D1D;
    height: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 40px;
    padding-left: 80px;
}

.regh2s {
    color: #979797;
    width: 350px;
    background-color: #282828;
    padding: 10px;
    border-radius: 6px;
}

#regus {
    color: #0075FF;
    text-align: center;
}

#regu {
    text-align: center;
}

.filepin {
    text-decoration-line: underline;
}

.filepin img {
    position: relative;
    display: table-cell;
    vertical-align: top;
    position: relative;
}